<div class="container">
    <div class="wrapper">
        <div class="team-crest">
            <img src="{{data.team.crestUrl}}" />
        </div>
        <h1> Team name : {{data.team.name}}</h1>
        {{>teamInfo items=data.team}}
        <div class="buttons-container">
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </div>
</div>
