<div class="container">
  <div class="wrapper">
    <h1>Are you sure to delete {{data.team.name}} ? </h1>
    {{>teamInfo items=data.team}}
    <form action="/team/{{data.id}}/delete" method="POST">
      <button type="submit" value="Yes">YES</button>
      <button type="button" onclick="window.location='/'">NO</button>
    </form>
  </div>
</div>
