<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{#if title}}
        <title>{{title}}</title>
        {{else}}
        <title>Grand-Ote</title>
    {{/if}}
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    {{{body}}}
 
</body>
</html>
